html {
  scroll-behavior: smooth;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #1e1e1e; 
}

*, *::before, *::after {
  box-sizing: inherit;
}


*::-webkit-scrollbar {
  width: 10px;               
  height: 10px;           
}

*::-webkit-scrollbar-track {
  background: #1e1e1e;      
  border-left: 1px solid #333; 
}

*::-webkit-scrollbar-thumb {
  background-color: #424242; 
  border: 2px solid #1e1e1e; 
  border-radius: 10px;     
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #5a5a5a; 
}

*::-webkit-scrollbar-corner {
  background: #1e1e1e;
}